.menu ul{
    display: flex;
    width: 50%;
    list-style-type: none;
    margin-left: 42px;
    justify-content: space-between;
}

*{
    margin:0;
    padding: 0
}

.menu{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

header{
    height: 72px;
    display: flex;
    align-text: center;
    background-color: white
}

body{
    background-image: url('https://images.unsplash.com/photo-1508615070457-7baeba4003ab?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2340&q=80');
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: 'Inter';
}

section{
    background-color: white;
    height: 100%;
    margin: 50px;
    background: rgba(255, 245, 245, 0.74);
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    padding-bottom: 3px;
}

.menu .button-menu{
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 36px;
}

.button-menu button{
    height: 32px;
    width: 80px;
    border-radius: 25px;
    margin-right: 35px;
    background-color: #DB7600;
    color: white;
    border: none;   
}

.menu li{
    font-family: 'Inter', sans-serif;
}

.forums button{
    background: rgba(186, 186, 186, 0.42);
    border-radius: 10px;
    border: none;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.forums button img{
    width: 20px;
}

header a{
    text-decoration: none;
    color: black;
}

header a:hover{
    text-decoration: underline;
    text-decoration-color: #DB7600;
    text-underline-offset: 24px;
    text-decoration-thickness: 5px;
}

.sub-menu img{
    margin-right: 20px;
    width: 20px;
    background-color: white;
    padding: 6px;
    box-shadow: -2px 2px 7px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

section .sub-menu{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
}

section .sub-menu a{
    display: flex;
    align-items: center;
    margin: 16px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

section li{
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

.new-post{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 21px;
    margin-top: 20px;
    font-family: 'Inter';
    box-shadow: 6px 6px 13px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
}

.new-post button{
    background-color: #0096B7;
    padding: 12px;
    border: none;
    box-shadow: -2px 2px 7px rgba(0, 0, 0, 0.25);
    border-radius: 5px;  
}
.photo-porfile{
    font-family: 'Inter', sans-serif;
}

.photo-porfile img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;  
}

.perfil{
    margin: 24px;
    width: 30%;
    margin: 24px;
}

.posts{
    margin: 24px;
    width: 50%;
    padding-right: 20px;
    border-right: 3px solid #BABABA;
}

.forums{
    margin: 24px;
    width: 20%;
    padding-right: 20px;
    border-right: 3px solid #BABABA;
}

hr{
    border-width: 3px;
    border: solid #BABABA
}

.list-forums li{
    margin-bottom: 10px;
    margin-top: 10px
}

.list-forums a{
    color: black;
    text-decoration: none;
}

.list-forums a:hover{
    color: #DB7600;
    text-decoration: none;
}

.postagem{
    background-color: white;
    padding: 21px;
    margin-top: 46px;
    font-family: 'Inter';
    box-shadow: 6px 6px 13px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
}

.postagem img{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    object-fit: cover;  
}

.postagem p{
    color: #3D3D3D;
}

.postagem b{
    color: black
}

.postagem span{
    background: #FBD2EA;
    border: 2px solid #FF80CC;
    border-radius: 25px;
    font-weight: 400;
    display: flex;
    align-items: center;
    height: fit-content;
    padding: 10px;
    font-size: 15px;
    line-height: 18px;
}

.postagem span p {
    color: #B7006E;
}

.info-perfil{
    font-size: 18px
}

.info-perfil p{
    margin-top: 10px
}

.info-perfil h3{
    margin-bottom: 20px;
    margin-top: 20px
}

.lista-bibliotecas{
    border-radius: 20px;
    margin: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 40%
}

h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    padding: 20px;
    color: #3D3D3D;
}

h2{
    color: #B7006E;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 17px;
    padding:15px;
    padding-bottom:0px;
}

.item-lista-bibliotecas{
    background: rgba(255, 245, 245, 0.74);
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    display: flex;
    padding:15px;
    margin: 15px;
}

.item-lista-bibliotecas img{
    height: 70px;
    border-radius: 15px;
    margin-right: 10px;
}

.paginacao{
    padding:15px;
    display: flex;
    justify-content: center;
    align-items: center
}

.paginacao button{
    margin-left:20px;
    margin-right:20px;
    background-color: white;
    border: 1px #DFE3E8 solid;
    padding: 10px;
    border-radius: 10px
}

p{
    font-size: 14px
}

span p{
    color: #4A6ECA
}

.lista-bibliotecas img{
     object-fit: cover;  
     height: 250px;
     width: 100%;
     border-radius: 20px;
}

li{
    padding: 10px;
    display: flex;
    align-items: center;
}

li img{
    padding: 5px;
}